.filterSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.filterSection button {
  font-family: "Eagle Lake", serif;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #f0e6d3;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filterSection button:hover {
  background-color: #e0d0b8;
}
